<%- content_for(:title, "Sources - Transmission") %>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading"><h4>Sources</h4></div>
      <div class="panel-body">
        <%= arranged_tree_as_list(@sources) do |source| %>
          <%= link_to source.name, source %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<br>

<%= link_to 'New Source', new_source_path , {role:'button', class:'btn btn-primary active'} %>
