
<br/>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">New Source</div>
      <div class="panel-body">
<%= render 'form' %>
      </div>
    </div>
    <%= link_to 'Cancel', sources_path, {role:'button', class:'btn btn-warning btn-sm active'} %>
  </div>
</div>

</div>
