// Place all the styles related to the Sources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.depth0 {
  background-color: #F0F0F0;
}

.depth1 {
  background-color: #F6F6F6;
}

.depth2 {
  background-color: #FEFEFE;
}

.depth3 {
  background-color: #FFF;
}

.depth4 {
  background-color: #FFF;
}

